@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: skyblue;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}

footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 30px 20px;
  background-color: #f9ca24;
  color: blue;
  border-radius: 5px;
}
